<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Search Inject!</title>
</head>
<body>
    <div class="container">
        <form id="searchForm">
            <div class="form-group">
                <label for="searchInput">Search anything!</label>
                <input id="searchInput" type="text" name="term" class="form-control" placeholder="ex. injections">
                <small class="form-text text-muted">Powered by Google</small>
            </div>
            <button id="submitButton" type="submit" class="btn btn-primary">Search</button>
        </form>
        <p id="searchResult"></p>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="application/javascript">
        $('#searchForm').submit(function(event) {
            event.preventDefault();
            let url = '/search?term=' + $('input[name=term]').val();
            $.get(url, function (data) {
                alert(data);
            });
        });
    </script>
</body>
</html>
